<h1>Bennys Motors</h1>

<label for="estadoFiltro">Filtrar por estado:</label>
<select id="estadoFiltro" [(ngModel)]="estadoSeleccionado">
  <option value="todos">Todos</option>
  <option value="nuevo">Nuevos</option>
  <option value="usado">Usados</option>


</select>

<ul>
  
  <li *ngFor="let auto of filtrarAutos();let i = index">
    
    {{ auto.id }} {{ auto.marca }} - {{ auto.modelo }} ({{ auto.estado }})
    <br>
    <br>
    <div>
      <img [src]="auto.imagen" alt="Imagen del auto">
    </div>
    
    <button (click)="eliminarVehiculo(i)">Eliminar</button>
  
  </li>
</ul>
<ul>
  <input type="text" [(ngModel)]="nuevoAuto.id" placeholder="id">
<input type="text" [(ngModel)]="nuevoAuto.marca" placeholder="Marca">
<input type="text" [(ngModel)]="nuevoAuto.modelo" placeholder="Modelo">
<input type="text" [(ngModel)]="nuevoAuto.estado" placeholder="Estado">
<input type="text" [(ngModel)]="nuevoAuto.imagen" placeholder="Ruta de la imagen">
<button (click)="agregarAuto()">Agregar Auto</button>
</ul>
